{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="card mb-3">
                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                <p class="text-center small">Enter your username & password to login</p>
                            </div>

                            <form class="row g-3 needs-validation" method="post" novalidate>
                                {% if form.non_field_errors %}
                                    <div class="text-danger">* Please enter a correct username and password.</div>
                                {% endif %}

                                {% csrf_token %}

                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">{{ form.username.label }}</label>
                                    <div class="input-group has-validation">{{ form.username }}</div>
                                    {% if form.username.errors %}
                                        <div class="text-danger fst-italic">* This field is required.</div>
                                    {% endif %}
                                </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">{{ form.password.label }}</label>
                                    <div class="input-group has-validation">{{ form.password }}</div>
                                    {% if form.password.errors %}
                                        <div class="text-danger fst-italic">* This field is required.</div>
                                    {% endif %}
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="credits">Designed by <strong>TheTechFury</strong></div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
