{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Induction Motor{% endblock %}</title>

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/html_to_image.js' %}"></script>

</head>

<body>
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <div class="logo d-flex align-items-center">
            <img src="{% static 'assets/img/logo.png' %}" alt="">
            <span class="d-none d-lg-block">Induction Motor</span>
        </div>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                   data-bs-toggle="dropdown">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.username }}</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>
                            {% if user.first_name %}
                                {{ user.first_name }} {{ user.last_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">{% csrf_token %}
                            <button class="dropdown-item d-flex align-items-center" type="submit">
                                <i class="bi bi-box-arrow-right"></i><span>Sign Out</span></button>
                        </form>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<main id="main" class="main">
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'report_modal.html' %}
    {% include 'edit_modal.html' %}
</main>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>TheTechFury</span></strong>. All Rights Reserved
    </div>
</footer>

<script src="{% static 'assets/js/jQuery-3.7.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/index.js' %}"></script>
<script>
    function validateForm(tbodyId) {
        console.log(tbodyId)
        // Get the <tbody> element by its id
        var tbody = document.getElementById(tbodyId);

        // Get all checkboxes inside the <tbody>
        var checkboxes = tbody.querySelectorAll('input[type="checkbox"]');

        // Check if any checkbox is checked
        var isChecked = false;
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                isChecked = true;
            }
        });

        // If no checkbox is checked, alert the user and do not proceed
        if (!isChecked) {
            alert("Please select at least one checkbox.");

            // Change button color to red
          // Change button color to red
 // Add border around the button
    var button = document.getElementById('edit_performed_tests');
    button.style.border = "2px solid red";

            return false;
        }

        // If validation passes, close the modal programmatically
        $('#edit-modal').modal('hide');
        return true;
    }
</script>
   <script>
{% block scripts %}

{% endblock %}
</body>
</html>
