<div class="modal fade" id="edit-modal" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="card-title p-0 text-center">Update Induction Report</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-form" class="row g-3" method="post">{% csrf_token %}
                    {% if edit_form.non_field_errors %}
                        <div class="text-danger">{{ edit_form.non_field_errors }}</div>
                    {% endif %}

                    <div class="col-md-4">
                        <div class="row gx-0">
                            <div class="col-md-5">
                                <label for="id_serial_number" class="col-form-label text-small">Motor's Serial No*</label>
                            </div>
                            <div class="col-md-7">{{ edit_form.serial_number }}</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row gx-0">
                            <div class="col-md-5">
                                <label for="id_customer_name" class="col-form-label text-small">Customer*</label>
                            </div>
                            <div class="col-md-7">{{ edit_form.customer_name }}</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row gx-0" >
                            <div class="col-md-5">
                                <label for="id_sales_order_number" class="col-form-label text-small">Sales Order*</label>
                            </div>
                            <div class="col-md-7">{{ edit_form.sales_order_number }}</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row gx-0">
                            <div class="col-md-4">
                                <label for="id_sales_order_number" class="col-form-label text-small">Director Cerad*</label>
                            </div>
                            <div class="col-md-8">{{ edit_form.director_cerad }}</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row gx-0">
                            <div class="col-md-5">
                                <label for="id_sales_order_number" class="col-form-label text-small">Lab Instructor*</label>
                            </div>
                            <div class="col-md-7">{{ edit_form.lab_instructor }}</div>
                        </div>
                    </div>
                    <hr style="border-top: 2px solid #1559d3;">

                    <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="edit_motor_identification" data-bs-toggle="pill"
                                    data-bs-target="#edit-v-pills-home" type="button" role="tab"
                                    aria-controls="edit-v-pills-home" aria-selected="true">Motor Identification
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="edit_performed_tests" data-bs-toggle="pill"
                                    data-bs-target="#edit-v-pills-profile" type="button" role="tab"
                                    aria-controls="edit-v-pills-profile" aria-selected="false">Performed Tests
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content pt-2" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="edit-v-pills-home" role="tabpanel"
                             aria-labelledby="edit_motor_identification">
                            <div class="row g-3 px-3">

                                <div class="col-md-3">
                                    <label for="id_tag" class="form-label">TAG</label>
                                    {{ edit_form.tag }}</div>
                                <div class="col-md-3">
                                    <label for="id_material"
                                           class="form-label">{{ edit_form.material.label }}</label>
                                    {{ edit_form.material }}</div>
                                <div class="col-md-3">
                                    <label for="id_frame" class="form-label">{{ edit_form.frame.label }}</label>
                                    {{ edit_form.frame }}</div>
                                <div class="col-md-3">
                                    <label for="id_mounting"
                                           class="form-label">{{ edit_form.mounting.label }}</label>
                                    {{ edit_form.mounting }}</div>

                                <div class="col-md-3">
                                    <label for="id_drawing" class="form-label">{{ edit_form.drawing.label }}</label>
                                    {{ edit_form.drawing }}</div>
                                <div class="col-md-3">
                                    <label for="id_enclosure"
                                           class="form-label">{{ edit_form.enclosure.label }}</label>
                                    {{ edit_form.enclosure }}</div>
                                <div class="col-md-3">
                                    <label for="id_altitude_M" class="form-label">Altitude (m)</label>
                                    {{ edit_form.altitude_M }}</div>
                                <div class="col-md-3">
                                    <label for="id_duty_cycle" class="form-label">Duty Cycle</label>
                                    {{ edit_form.duty_cycle }}</div>

                                <div class="col-md-3">
                                    <label for="id_design" class="form-label">{{ edit_form.design.label }}</label>
                                    {{ edit_form.design }}</div>
                                <div class="col-md-3">
                                    <label for="id_insulation_class" class="form-label">Insulation Class</label>
                                    {{ edit_form.insulation_class }}</div>
                                <div class="col-md-3">
                                    <label for="id_temperature_rise_K" class="form-label">Temperature Rise
                                        (K)</label>
                                    {{ edit_form.temperature_rise_K }}</div>
                                <div class="col-md-3">
                                    <label for="id_ambient_temperature_C" class="form-label">Ambient Temperature
                                        (°C)</label>
                                    {{ edit_form.ambient_temperature_C }}</div>

                                <div class="col-md-3">
                                    <label for="id_service_factor" class="form-label">Service Factor</label>
                                    {{ edit_form.service_factor }}</div>
                                <div class="col-md-3">
                                    <label for="id_voltage" class="form-label">Voltage (V)</label>
                                    {{ edit_form.voltage }}</div>
                                <div class="col-md-3">
                                    <label for="id_current" class="form-label">Current (A)</label>
                                    {{ edit_form.current }}</div>
                                <div class="col-md-3">
                                    <label for="id_power" class="form-label">Power (kW)</label>
                                    {{ edit_form.power }}</div>

                                <div class="col-md-3">
                                    <label for="id_frequency" class="form-label">Freq. (Hz)</label>
                                    {{ edit_form.frequency }}</div>
                                <div class="col-md-3">
                                    <label for="id_speed" class="form-label">Speed (rpm)</label>
                                    {{ edit_form.speed }}</div>
                                <div class="col-md-3">
                                    <label for="id_p_f" class="form-label">P.F.</label>
                                    {{ edit_form.p_f }}</div>
                                <div class="col-md-3">
                                    <label for="id_efficiency" class="form-label">Eff. (%)</label>
                                    {{ edit_form.efficiency }}</div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="edit-v-pills-profile" role="tabpanel"
                             aria-labelledby="edit_performed_tests">
                            <div class="row g-3 px-5">
                                <div class="italic card-title m-0 pt-2 pb-0 text-center">
                                    <div id="edit-error-message" class="text-danger" style="display: none;">
                                        Please select at least one test
                                    </div>
                                </div>

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Sr. #</th>
                                        <th class="text-center" scope="col">Test Name</th>
                                        <th class="text-center" scope="col">Routine</th>
                                        <th class="text-center" scope="col">Type</th>
                                        <th class="text-center" scope="col">Special</th>
                                    </tr>
                                    </thead>
                                    <tbody id="edit-formset-body">
                                        <div class="alert alert-danger d-none " name="edit-error-message" id="edit-required" role="alert"> At Least select one Test</div>
                                    {{ edit_formset.management_form }}
                                    {% for form in edit_formset %}
                                        <tr>
                                            <th class="text-center" scope="row">{{ forloop.counter }}</th>
                                            <td class="text-center w-50">{{ form.test_type }}</td>
                                            <td class="round">{{ form.routine }}
                                                <label for="id_form-{{ forloop.counter0 }}-routine"></label>
                                            </td>
                                            <td class="round text-center">{{ form.type }}
                                                <label for="id_form-{{ forloop.counter0 }}-type"></label>
                                            </td>
                                            <td class="round text-center">{{ form.special }}
                                                <label for="id_form-{{ forloop.counter0 }}-special"></label>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 2px solid #1559d3;">

                    <div class="d-grid gap-2 d-md-flex justify-content-center mt-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="return validateForm('edit-formset-body','edit-required')">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
