{% extends 'base.html' %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'assets/css/chart.css' %}">

{% endblock css_files %}
{% block content %}

    <div class="pagetitle">
        <h1>Listings</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Report <span>/Today</span></h5>
                    <button class="btn btn-outline-primary mb-5 "id="downloadBtn">Download Graph as Image</button>
                   
                    <div class="align-center chart-box"  id="chart_div" style="padding:30px;">
                        <div class="chart">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'assets/js/chartJs.js' %}"></script>
{% endblock %}
{% block scripts %}

    <script>

        const ctx = document.getElementById('myChart').getContext('2d')
        const data = {
            labels :[
                    296, 648, 1005, 1364, 1686, 1793, 1793, 1793, 1793, 1793,
                    1793, 1793, 1793, 1793, 1793, 1793, 1793, 1793, 1775, 1775,
                    1792, 1793, 1774, 1775, 1789, 1793, 1793, 1793
                ],
            
            datasets :[
                {
                label:'Torque',
                data: [29, 30, 30, 30, 30, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 0, 0, 0, 0,
                       206, 222, 26, 0, 175, 221, 61, 0, 0, 0
                       ],
                tension:0.4,
                yAxisID: 'torque',
            },
            {
                label:'Amplitude',
                data: [61.2599983, 29.1599998, 25.2299995, 25.3999996, 25.8600006, 22.5699997,
                        22, 21.9799995, 22, 22.0200005, 22, 22, 22, 21.9799995, 22, 22.0200005,
                        22.0200005, 22.0599995, 22.0400009, 48.9399986, 55.5099983, 25.5499992,
                        21.8700008, 48.5800018, 55.6300011, 31.2000008, 22.1900005, 21.5599995,
                        21.6000004
                        ],
                tension:0.4,
                yAxisID: 'amplitude',
            },
            {
                label:'Efficiency',
                data: [
                    3.875097457647634, 1.0000041855208115, 1.7025121618721417, 2.20200464857060,
                    2.70149713526907, 9.999987062870537, 1.9999974125741075, 9.999987062870537, 1.9999974125741075,
                    9.999987062870537, 9.999987062870537, 9.999987062870537, 1.9999974125741075, 9.999987062870537,
                    9.999987062870537, 0.0, 0.0, 0.0, 0.0, 49.99985646425583, 54.05405222795044, 6.328383094155721,
                    0.0, 42.52269989247115, 54.05405222795044, 14.872381893805183, 0.0, 0.0, 0.0
                  ],
                tension:0.4,
                yAxisID: 'efficiency',
            },
            {
                label:'Horsepower',
                data:[
                    15.339166161844706, 10.990542425520795, 23.263754951924028, 34.83347025248189,
                    44.07396759658745, 70.22839658293554, 13.288111997024267, 70.15518935004336, 13.271659067965285,
                    70.41934613131438, 70.15518935004336, 70.15518935004336, 13.271659067965285, 70.41934613131438,
                    70.15518935004336, 0.0, 0.0, 0.0, 0.0, 134.32292026404032, 169.99525957893885, 3.3555645460305286,
                    0.0, 133.33085517130395, 169.99525957893885, 111.12484055666645, 0.0, 0.0, 0.0
                    ] ,
                tension:0.4,
                yAxisID: 'horsepower',
            },
            {
                label:'Watts Out',
                data: [2875.879841, 2569.599984, 3250.269356, 4305.999312, 5335.686666,
                     5144.299996, 4984, 4998.6535, 4984, 4989.541, 4984, 4984,
                     4984, 4998.6535, 4984, 4989.541, 4998.5411, 4999.039405,
                     4983.048743, 10600.0412, 12062.4801, 572.324744, 4709.950836,
                     10668.765674, 12133.254337, 7092.407424, 5023.918945,
                     4790.926955, 4901.320108
                     ],
                tension:0.4,
                yAxisID: 'watt',
            },
        ]
        }
        
        const xScalePadding = {
            id: 'xScalePadding',
            beforeDatasetsDraw(chart,args,pluginOptions){
                const {ctx,data,scales:{x,y}}= chart;
                console.log(x)
            }
        }
        
        const legendMargin = {
            id: 'legendMargin',
            beforeInit(chart,legend,optins){
                console.log(chart.legend.fit);
            }
        }
        
        const config = {
                type: 'line',
                data,
                options: {
        
                    plugins:{
                        legend:{
                            labels:{
                                padding: 100
                            }
                        }
                    },
        
                    scales:{
                      
                        x:{
                            title :{
                                color: 'black',
                                display: true,
                                text: 'Speed[RPM]',
                                font :{
                                    size: 16,
                                    
                                }
                            },
                            ticks:{
                                font: {
                                    size:16,
                                    
                                }
                            }
                        },
                      
                        amplitude: {
                            beginAtZero: true,
                            type: 'linear',
                            position: 'right',
                            title : {
                                display: true,
                                text: " Amps 1 ",
                                color:  "red"
                            },
                            grid:{
                                drawOnChartArea:false
                            },
                            ticks:{
                                font: {
                                    size:16,
                                    
                                }
                            }
                        },
                        horsepower:{
                            beginAtZero: true,
                            type: 'linear',
                            position: 'right',
                            title : {
                                display: true,
                                text: " Horsepower ",
                                color:'blue'
                            },
                            grid:{
                                drawOnChartArea:false
                            },
                            ticks:{
                                font: {
                                    size:16,
                                    
                                }
                            }
                        },
                        watt:{
                            beginAtZero: true,
                            type: 'linear',
                            position: 'left',
                            title : {
                                display: true,
                                text: " Watts Out ",
                                color: 'pink'
                            },
                            grid:{
                                drawOnChartArea:false
                            },
                            ticks:{
                                font: {
                                    size:16,
                                    
                                }
                            }
                        },
                         
                        efficiency:{
                            beginAtZero: true,
                            type: 'linear',
                            position: 'left',
                            title : {
                                display: true,
                                text: " Efficiency ",
                                color: 'green'
                            },
                            grid:{
                                drawOnChartArea:false
                            },
                            ticks:{
                                font: {
                                    size:16,
                                    
                                }
                            }
                        },
                        torque:{
                            beginAtZero: true,
                            type: 'linear',
                            position: 'left',
                            
                            title : {
                                display: true,
                                text: "Torque[Ib.in] "
                            },
                            grid:{
                                drawOnChartArea:false
                            },
                            ticks:{
                                font: {
                                    size:16,
                                    
                                },
                                
                            }
                        },
                    },
                    plugins:{
                        layout: {
                            padding:40
                        },
                        
                         
                        
                        legend:{
                            position:'bottom',
                            align:'top',
                            
        
                            labels: {
                                color: 'black',
                                font: {
                                    size: 14
                                }
                                
                            }
                           
                        }
                    }
                }
            }
        
            const myChart = new Chart(ctx,config );



        // Function to download the chart as an image
        function downloadChartAsImage() {
            // Get the chart container element
            var chartContainer = document.getElementById('chart_div');

            // Use html2canvas to capture the chart container as an image
            html2canvas(chartContainer).then(function (canvas) {
                // Convert the canvas to a data URL
                var dataURL = canvas.toDataURL('image/png');

                // Create a temporary anchor element to trigger the download
                var link = document.createElement('a');
                link.download = 'chart_image.png';
                link.href = dataURL;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            });
        }

        // Add event listener to the download button
        document.getElementById('downloadBtn').addEventListener('click', downloadChartAsImage);
    </script>
{% endblock %}