{% extends 'base.html' %} {% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'assets/css/chart.css' %}" />

{% endblock css_files %} {% block content %}

<div class="pagetitle">
  <h1>Listings</h1>
</div>
<br />
<div class="row">
  <div class="datatable-search datatable-top mb-2">
    <a href="{% url 'tests' motor_id  %}" type="button" class="btn btn-primary">
      <i class="bi bi-arrow-left-circle-fill"></i> Back to Tests</a
    >
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Report <span>/Today</span></h5>
        <button class="btn btn-outline-primary mb-2" id="downloadBtn">
          Download Graph as Image
        </button>

        <div
          class="align-center chart-box"
          id="chart_div"
          style="padding: 30px"
        >
          <div class="chart">
            <img
              src="{% static 'assets/img/logo.png' %}"
              style="height: 100px; width: 100px"
            />
            <canvas id="myChart"></canvas>
            <img
              class="cerad-image"
              src="{% static 'assets/img/cerad-logo.png' %}"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script
  type="text/javascript"
  src="{% static 'assets/js/chartJs.js' %}"
></script>
{% endblock %} {% block scripts %}

<script>
      const torque = {{torque|safe}}
      const speed_rpm = {{speed|safe}}
      const amplitude = {{amplitude|safe}}
      const efficiency = {{efficiency|safe}}
      const horsepower = {{horse_power|safe}}
      const watts_out = {{watts_out|safe}}
      const speedRPMTorqueData = []
      const speedRPMAmplitudeData = []
      const speedRPMEfficiencyData = []
      const speedRPMHorsepowerData = []
      const speedRPMWattData = []

      for (var i = 0; i < speed_rpm.length; i++) {
              let torque_item = {
                  x : speed_rpm[i],
                  y : torque[i]
              }
              let amplitude_item = {
                  x : speed_rpm[i],
                  y : amplitude[i]
              }
              let efficiency_item = {
                  x : speed_rpm[i],
                  y : efficiency[i]
              }
              let horsepower_item = {
                  x : speed_rpm[i],
                  y : horsepower[i]
              }
              let watts_out_item = {
                  x : speed_rpm[i],
                  y : watts_out[i]
              }
              speedRPMTorqueData.push(torque_item)
              speedRPMAmplitudeData.push(amplitude_item)
              speedRPMHorsepowerData.push(horsepower_item)
              speedRPMEfficiencyData.push(efficiency_item)
              speedRPMWattData.push(watts_out_item)
              speedRPMHorsepowerData.push(horsepower_item)
      }

  // setup
  const data = {

    datasets: [{
      label: 'torque',
      data : speedRPMTorqueData,
      backgroundColor:'gray',

      borderColor:'gray',
      showLine: true,
      tension:0.3,
      borderWidth: 2,
      yAxisID:'y',
    },
    {
      label: 'amplitude',
      data : speedRPMAmplitudeData,
      backgroundColor: 'red',
      borderColor: 'red',
      showLine: true,
      tension:0.3,
      borderWidth: 2,
      yAxisID:'amplitude',
    },
    {
      label: 'efficiency',
      data : speedRPMEfficiencyData,
      backgroundColor: 'green',
      borderColor: 'green',
      showLine: true,
      tension:0.3,
      borderWidth: 3,
      yAxisID:'efficiency',
    },
    {
      label: 'watts output',
      data : speedRPMWattData,
      backgroundColor: 'pink',
      borderColor: 'pink',
      showLine: true,
      tension:0.3,
      borderWidth: 2,
      yAxisID:'watt',
    },
    {
      label: 'horsepower',
      data : speedRPMHorsepowerData,
      backgroundColor: 'blue',
      borderColor: 'blue',
      showLine: true,
      tension:0.3,
      borderWidth: 2,
      yAxisID:'horsepower',
    },
    ]
  };

  // config
  const config = {
    type: 'scatter',
    data,
    options: {
      scales: {
          x :{
            title : {
              display: true,
              text: " Speed RPM ",
              color:'black',

          },
              min: 1800,

                 ticks: {
                  stepSize: 50,
                  font:{
                    size:16,
                  }
      }
          },

          horsepower:{
            beginAtZero: true,
            type: 'linear',
            position: 'right',
            title : {
                display: true,
                text: " Horsepower ",
                color:'blue'
            },
            grid:{
                drawOnChartArea:false
            },
            ticks:{
                font: {
                    size:16,

                }
            }
        },
        watt:{
            beginAtZero: true,
            type: 'linear',
            position: 'left',
            title : {
                display: true,
                text: " Watts Out ",
                color: 'pink'
            },
            grid:{
                drawOnChartArea:false
            },
            ticks:{
                font: {
                    size:16,

                }
            }
        },

        efficiency:{
            beginAtZero: true,
            type: 'linear',
            position: 'left',
            title : {
                display: true,
                text: " Efficiency ",
                color: 'green'
            },
            grid:{
                drawOnChartArea:false
            },
            ticks:{
                font: {
                    size:16,

                }
            }
        },
        y:{
          beginAtZero: true,
          type: 'linear',
          position: 'left',


          title : {
              display: true,
              text: " Torque [Ib.in] ",
              color:'black',

          },
          grid:{
              drawOnChartArea:false
          },
          ticks:{
              font: {
                  size:16,

              },

          }
      },
          amplitude: {
            beginAtZero: true,
            type: 'linear',
            position: 'right',
            title : {
                display: true,
                text: " Amps ",
                color:  "red"
            },
            grid:{
                drawOnChartArea:false
            },
            ticks:{
                font: {
                    size:16,

                }
            }
        },


      }
    }
  };

  // render init block
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );



      function downloadChartAsImage() {
          // Get the chart container element
          var chartContainer = document.getElementById('chart_div');

          // Use html2canvas to capture the chart container as an image
          html2canvas(chartContainer).then(function (canvas) {
              // Convert the canvas to a data URL
              var dataURL = canvas.toDataURL('image/png');

              // Create a temporary anchor element to trigger the download
              var link = document.createElement('a');
              link.download = `chart.png`;
              link.href = dataURL;
              document.body.appendChild(link);
              link.click();
              document.body.removeChild(link);
          });
      }

      // Add event listener to the download button
      document.getElementById('downloadBtn').addEventListener('click', downloadChartAsImage);
</script>
{% endblock %}
