{% extends 'base.html' %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'assets/css/chart.css' %}">

{% endblock css_files %}
{% block content %}

    <div class="pagetitle">
        <h1>Listings</h1>
    </div>
    <br>
    <div class="row">
        <div class="datatable-search datatable-top mb-2">
    <a href="{% url 'tests' motor_id  %}" type="button" class="btn btn-primary">
      <i class="bi bi-arrow-left-circle-fill"></i> Back to Tests</a
    >
  </div>
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Report <span>/Today</span></h5>
                    <button class="btn btn-outline-primary mb-2 "id="downloadBtn">Download Graph as Image</button>
                   
                    <div class="align-center chart-box"  id="chart_div" style="padding:30px;">

                        <div class="chart">
                            <img src="{% static 'assets/img/logo.png' %}" style="height:100px;width:100px;">
                            <canvas id="myChart"></canvas>
                            <img class="cerad-image" src="{% static 'assets/img/cerad-logo.png' %}" alt=""/>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'assets/js/chartJs.js' %}"></script>
{% endblock %}
{% block scripts %}

    <script>
        const ctx = document.getElementById('myChart').getContext('2d')
        const data = {
<!--            labels : [0,250,500,750,1000,1250,1500,1750,2000,2250,2500,2750,3000],-->
            labels : {{speed|safe}},

            datasets :[
                {
                label:'Torque',
                data: {{torque|safe}},
                tension:0.4,
                yAxisID: 'torque',

            },
            {
                label:'Amperes',
                data: {{amplitude|safe}},
                tension:0.4,
                yAxisID: 'amplitude',
            },
            {
                label:'Efficiency',
                data: {{efficiency|safe}},
                tension:0.4,
                yAxisID: 'efficiency',
            },
            {
                label:'Horsepower',
                data:{{horse_power|safe}} ,
                tension:0.4,
                yAxisID: 'horsepower',
            },
            {
                label:'Watts Out',
                data: {{watts_out|safe}},
                tension:0.4,
                yAxisID: 'watt',
            },
        ]
        }
        
        const xScalePadding = {
            id: 'xScalePadding',
            beforeDatasetsDraw(chart,args,pluginOptions){
                const {ctx,data,scales:{x,y}}= chart;
                console.log(x)
            }
        }
        
        const legendMargin = {
            id: 'legendMargin',
            beforeInit(chart,legend,optins){
                console.log(chart.legend.fit);
            }
        }
        
        const config = {
                type: 'line',
                data,
                options: {
        
                    plugins:{
                        legend:{
                            labels:{
                                padding: 100
                            }
                        }
                    },
        
                    scales:{
                      
                        x:{
                            title :{
                                color: 'black',
                                display: true,
                                text: 'Speed[RPM]',
                                font :{
                                    size: 16,
                                    
                                }
                            },
                            ticks:{
                                font: {
                                    size:16,
                                    
                                }
                            }
                        },
                      
                        amplitude: {
                            beginAtZero: true,
                            type: 'linear',
                            position: 'right',
                            title : {
                                display: true,
                                text: " Amps ",
                                color:  "red"
                            },
                            grid:{
                                drawOnChartArea:false
                            },
                            ticks:{
                                font: {
                                    size:16,
                                    
                                }
                            }
                        },
                        horsepower:{
                            beginAtZero: true,
                            type: 'linear',
                            position: 'right',
                            title : {
                                display: true,
                                text: " Horsepower ",
                                color:'blue'
                            },
                            grid:{
                                drawOnChartArea:false
                            },
                            ticks:{
                                font: {
                                    size:16,
                                    
                                }
                            }
                        },
                        watt:{
                            beginAtZero: true,
                            type: 'linear',
                            position: 'left',
                            title : {
                                display: true,
                                text: " Watts Out ",
                                color: 'pink'
                            },
                            grid:{
                                drawOnChartArea:false
                            },
                            ticks:{
                                font: {
                                    size:16,
                                    
                                }
                            }
                        },
                         
                        efficiency:{
                            beginAtZero: true,
                            type: 'linear',
                            position: 'left',
                            title : {
                                display: true,
                                text: " Efficiency ",
                                color: 'green'
                            },
                            grid:{
                                drawOnChartArea:false
                            },
                            ticks:{
                                font: {
                                    size:16,
                                    
                                }
                            }
                        },
                        torque:{
                            beginAtZero: true,
                            type: 'linear',
                            position: 'left',
                            
                            title : {
                                display: true,
                                text: "Torque[Ib.in] "
                            },
                            grid:{
                                drawOnChartArea:false
                            },
                            ticks:{
                                font: {
                                    size:16,
                                    
                                },
                                
                            }
                        },
                    },
                    plugins:{
                        layout: {
                            padding:40
                        },
                        
                         
                        
                        legend:{
                            position:'bottom',
                            align:'top',
                            
        
                            labels: {
                                color: 'black',
                                font: {
                                    size: 14
                                }
                                
                            }
                           
                        }
                    }
                }
            }
        
            const myChart = new Chart(ctx,config );



        // Function to download the chart as an image
        function downloadChartAsImage() {
            // Get the chart container element
            var chartContainer = document.getElementById('chart_div');

            // Use html2canvas to capture the chart container as an image
            html2canvas(chartContainer).then(function (canvas) {
                // Convert the canvas to a data URL
                var dataURL = canvas.toDataURL('image/png');

                // Create a temporary anchor element to trigger the download
                var link = document.createElement('a');
                link.download = `chart.png`;
                link.href = dataURL;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            });
        }

        // Add event listener to the download button
        document.getElementById('downloadBtn').addEventListener('click', downloadChartAsImage);

 });

    </script>
{% endblock %}