{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/induction_report.css' %}"/>
    <title>Document</title>
</head>
<body>
<div class="page-main-1">
    <div class="border-1 page-1">
        <header>
            <div class="main-heading">
                <img class="border-1" src="{% static 'assets/img/image_2024_02_26T10_42_48_518Z.png' %}" alt=""/>
                <h1>
                    Test Report <br/>
                    Three Phase Induction Motor
                </h1>
                <h2 class="border-1"><b>Motor's Serial Number <br> {{ induction_motor.serial_number }}</b></h2>
            </div>
            <div class="second-heading border-1">
                <span>University of Engineering Technology</span>
                <span>MOTOR TESTING LAB</span>
            </div>
            <div class="third-heading">
                University Rd. Kala Shah Kaku, Sheikhupura, Punjab
            </div>
        </header>
        <section class="main-section">
            <div class="section-1">
                <h1 class="text">
                    <span class="title">Customer:</span> {{ induction_motor.customer_name }}
                </h1>
                <h1 class="text">
                    <span class="title">Sales Order:</span> {{ induction_motor.sales_order_number }}
                </h1>
            </div>
            <h1 class="main-title">1. Motor Identification</h1>
            <div class="section-2">
                <table>
                    <tr>
                        <td>TAG: {{ induction_motor.tag }}</td>
                    </tr>
                    <tr>
                        <td>Material: {{ induction_motor.material }}</td>
                        <td>Enclosure: {{ induction_motor.enclosure }}</td>
                        <td>Insulation Class: {{ induction_motor.insulation_class }}</td>
                    </tr>
                    <tr>
                        <td>Frame: {{ induction_motor.frame }}</td>
                        <td>Altitude (m): {{ induction_motor.altitude_M }}</td>
                        <td>Temperature Rise (C): {{ induction_motor.temperature_rise_K }}</td>
                    </tr>
                    <tr>
                        <td>Mounting: {{ induction_motor.mounting }}</td>
                        <td>Duty Cycle: {{ induction_motor.duty_cycle }}</td>
                        <td>Ambient Temperature (°C): {{ induction_motor.ambient_temperature_C }}</td>
                    </tr>
                    <tr>
                        <td>Drawing: {{ induction_motor.drawing }}</td>
                        <td>Design: {{ induction_motor.design }}</td>
                        <td>Service Factor: {{ induction_motor.service_factor }}</td>
                    </tr>
                </table>
                <table class="table-border">
                    <tr>
                        <th>Voltage (V)</th>
                        <th>Current (A)</th>
                        <th>Power (kW)</th>
                        <th>Freq. (Hz)</th>
                        <th>Speed (rpm)</th>
                        <th>P.F.</th>
                        <th>Eff. (%)</th>
                    </tr>
                    <tr>
                        <td>{{ induction_motor.voltage }}</td>
                        <td>{{ induction_motor.current }}</td>
                        <td>{{ induction_motor.power }}</td>
                        <td>{{ induction_motor.frequency }}</td>
                        <td>{{ induction_motor.speed }}</td>
                        <td>{{ induction_motor.p_f }}</td>
                        <td>{{ induction_motor.efficiency }}</td>
                    </tr>
                </table>
            </div>
            <h1 class="main-title">2. Performed Tests</h1>
            <section class="section-3">
                <table class="table-border">
                    <tr>
                        <th class="same-width-td"></th>
                        <th>Routine</th>
                        <th>Type</th>
                        <th>Special</th>
                    </tr>
                    <tr>
                        <td class="same-width-td">1. Electric Resistance</td>
                        <td>X</td>
                        <td>X</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="same-width-td">
                            2. Temperature Rise - Nominal Condition
                        </td>
                        <td>-</td>
                        <td>X</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="same-width-td">3. Performance Determination</td>
                        <td>-</td>
                        <td>X</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="same-width-td">4. No Load</td>
                        <td>X</td>
                        <td>X</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="same-width-td">5. Withstand Voltage</td>
                        <td>X</td>
                        <td>X</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="same-width-td">6. Insulation Resistance</td>
                        <td>X</td>
                        <td>X</td>
                        <td>-</td>
                    </tr>
                </table>
            </section>
            <h1 class="main-title">3. Tests</h1>
            <section class="section-4">
                <h1 class="text">
                    <span class="title">3.1. Electric Resistance</span>
                </h1>
                <ul class="section-ul">
                    <li>Resistance (mOhms): 12.61 / 12.56 / 12.70</li>
                    <li>Ambient Temperature (°C): 24.5</li>
                    <li>Unbalance (%): 1.14</li>
                </ul>
                <h1 class="text">
              <span class="title"
              >3.2. Temperature Rise - Nominal Condition - Direct</span
              >
                </h1>
                <ul class="section-ul-2">
                    <li>Voltage (V): 400.0</li>
                    <li>Frequency (Hz): 60.0</li>
                    <li>Winding (Resistance Method) (C): 48.9</li>
                    <li>DE Bearing (C): 34.3</li>
                    <li></li>
                    <li>NDE Bearing (C): 29.3</li>
                </ul>
                <h1 class="text">
                    <span class="title">3.3. Performance Determination</span>
                </h1>
                <ul class="section-ul">
                    <li>Voltage (V): 400.0</li>
                    <li>Frequency (Hz): 60.0</li>
                    <li>Nominal T. (N.m): 853.04</li>
                </ul>
                <table class="table-border">
                    <tr>
                        <th>Load (%)</th>
                        <th>Current (A)</th>
                        <th>Slip</th>
                        <th>Speed (rpm)</th>
                        <th>Efficiency (%)</th>
                        <th>Cos Ø</th>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>108.97</td>
                        <td>0.0013</td>
                        <td>1797.6</td>
                        <td>94.16</td>
                        <td>0.56</td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>156.57</td>
                        <td>0.0027</td>
                        <td>1795.1</td>
                        <td>96.26</td>
                        <td>0.77</td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>213.34</td>
                        <td>0.0041</td>
                        <td>1792.5</td>
                        <td>96.64</td>
                        <td>0.84</td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>276.76</td>
                        <td>0.0056</td>
                        <td>1789.8</td>
                        <td>96.56</td>
                        <td>0.86</td>
                    </tr>
                </table>
                <h1 class="text">
                    <span class="title">3.4. No Load</span>
                </h1>
                <ul class="section-ul-3">
                    <li>Voltage (V): 400.9</li>
                    <li>Current (A): 85.02</li>
                    <li>Power (W): 2263.33</li>
                    <li>Frequency (Hz): 60.0</li>
                    <li>Speed (rpm): 1800</li>
                    <li>Direction of Rotation: Clockwise</li>
                </ul>
                <h1 class="text">
                    <span class="title">3.5. Withstand Voltage AC</span>
                </h1>
                <table class="table-border">
                    <tr>
                        <th>Description</th>
                        <th>Voltage (kV)</th>
                        <th>Time (s)</th>
                    </tr>
                    <tr>
                        <td>Winding</td>
                        <td>1.8</td>
                        <td>60</td>
                    </tr>
                </table>
                <br>
                <h1 class="text">
                    <span class="title">3.6. Insulation Resistance</span>
                </h1>
                <table class="table-border">
                    <tr>
                        <th>Description</th>
                        <th>Voltage (V)</th>
                        <th>Insulation Res. (Mohms)</th>
                        <th>Time (s)</th>
                    </tr>
                    <tr>
                        <td>Winding</td>
                        <td>500.0</td>
                        <td>22700.0</td>
                        <td>60</td>
                    </tr>
                </table>
                <ul class="section-ul-4">
                    <li>Voltage (V): 400.0</li>
                    <li>Frequency (Hz): 60.0</li>
                </ul>
            </section>
            <hr/>
            <ul class="footer-ul">
                <li>
                    Confidential report. Reproduction of this document shall not be
                    partial and depends on the written approval of the laboratory
                </li>
                <li>
                    The results presented in this document refer exclusively to the
                    electric motor subjected to the specified tests and do not extend
                    to any batch; * WEG will keep the original document archived for
                    at least five years.
                </li>
            </ul>
        </section>
        <footer class="footer-1">
            <div>Report issued on 04/28/2023</div>
        </footer>
    </div>
    <p class="page-number first-page">Page 1 of 2</p>
</div>
<div class="page-main-2">
    <div class="border-1 page-2">
        <header>
            <div class="main-heading">
                <img class="border-1" src="{% static 'assets/img/image_2024_02_26T10_42_48_518Z.png' %}" alt=""/>
                <h1>
                    Test Report <br/>
                    Three Phase Induction Motor
                </h1>
                <h2 class="border-1">Motor's Serial Number 1081350993</h2>
            </div>
            <div class="second-heading border-1">
                <span>University of Engineering Technology </span>
                <span>MOTOR TESTING LAB</span>
            </div>
            <div class="third-heading">
                University Rd. Kala Shah Kaku, Sheikhupura, Punjab
            </div>
        </header>
        <section class="main-section">
            <h1 class="main-title">4. Lock Rotor Test</h1>
            <br>
            <section class="section-5">
                <table class="table-border">
                    <tr>
                        <th>Tested Perimeters for 5 seconds</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>Voltage (V)</td>
                        <td>60.0</td>
                    </tr>
                    <tr>
                        <td>Frequency (Hz)</td>
                        <td>60.0</td>
                    </tr>
                    <tr>
                        <td>Current (A)</td>
                        <td>60.0</td>
                    </tr>
                    <tr>
                        <td>Power (KW)</td>
                        <td>60.0</td>
                    </tr>
                    <tr>
                        <td>Vibration (mm/s)</td>
                        <td>60.0</td>
                    </tr>
                    <tr>
                        <td>Noise (db.)</td>
                        <td>60.0</td>
                    </tr>
                    <tr>
                        <td>Temperature (°C)</td>
                        <td>60.0</td>
                    </tr>
                </table>
            </section>
            <h1 class="main-title">5. Result</h1>
            <section class="section-4">
                <p>
                    Test approved in accordance with the requirements of IEC
                    60034-1:2017. Performance calculated according to IEEE 112:2004 -
                    Method B.
                </p>
            </section>
        </section>
        <section class="section-4">
        </section>
        <footer class="footer-2">
            <table class="table-border">
                <tr>
                    <th>WEG Motors</th>
                    <th>Customer</th>
                </tr>
                <tr>
                    <td>
                        <div class="d-f">
                            <div>
                                <p>Agnaldo Reus Medeiros Rodrigues</p>
                                <p>Test Date: 4/18/2023</p>
                            </div>
                        </div>
                    </td>
                    <td>Inspector</td>
                </tr>
                <tr>
                    <td colspan="2">Report issued on 04/28/2023</td>
                </tr>
            </table>
        </footer>
    </div>
    <p class="page-number">Page 2 of 2</p>
</div>
</body>
</html>
