<div class="modal fade" id="main-modal" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header p-1">
                <h1 class="card-title p-2 text-center">New Induction Report</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="main-form" class="row gx-3 gy-1" method="post">{% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="text-danger">{{ form.non_field_errors }}</div>
                    {% endif %}

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <label for="id_serial_number" class="col-form-label">Motor's Serial No*</label>
                            </div>
                            <div class="col-md-5">{{ form.serial_number }}</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="id_customer_name" class="col-form-label">Customer*</label>
                            </div>
                            <div class="col-md-8">{{ form.customer_name }}</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5">
                                <label for="id_sales_order_number" class="col-form-label">Sales Order*</label>
                            </div>
                            <div class="col-md-7">{{ form.sales_order_number }}</div>
                        </div>
                    </div>

                    <hr style="border-top: 2px solid #1559d3;" class="my-2">

                    <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="motor_identification" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-home" type="button" role="tab"
                                    aria-controls="v-pills-home" aria-selected="true">Motor Identification
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="performed_tests" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-profile" type="button" role="tab"
                                    aria-controls="v-pills-profile" aria-selected="false">Performed Tests
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content pt-2 py-0"  id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                             aria-labelledby="motor_identification">
                            <div class="row g-3 px-3">

                                <div class="col-md-3">
                                    <label for="id_tag" class="form-label">TAG</label>
                                    {{ form.tag }}</div>
                                <div class="col-md-3">
                                    <label for="id_material"
                                           class="form-label">{{ form.material.label }}</label>
                                    {{ form.material }}</div>
                                <div class="col-md-3">
                                    <label for="id_frame" class="form-label">{{ form.frame.label }}</label>
                                    {{ form.frame }}</div>
                                <div class="col-md-3">
                                    <label for="id_mounting"
                                           class="form-label">{{ form.mounting.label }}</label>
                                    {{ form.mounting }}</div>

                                <div class="col-md-3">
                                    <label for="id_drawing" class="form-label">{{ form.drawing.label }}</label>
                                    {{ form.drawing }}</div>
                                <div class="col-md-3">
                                    <label for="id_enclosure"
                                           class="form-label">{{ form.enclosure.label }}</label>
                                    {{ form.enclosure }}</div>
                                <div class="col-md-3">
                                    <label for="id_altitude_M" class="form-label">Altitude (m)</label>
                                    {{ form.altitude_M }}</div>
                                <div class="col-md-3">
                                    <label for="id_duty_cycle" class="form-label">Duty Cycle</label>
                                    {{ form.duty_cycle }}</div>

                                <div class="col-md-3">
                                    <label for="id_design" class="form-label">{{ form.design.label }}</label>
                                    {{ form.design }}</div>
                                <div class="col-md-3">
                                    <label for="id_insulation_class" class="form-label">Insulation Class</label>
                                    {{ form.insulation_class }}</div>
                                <div class="col-md-3">
                                    <label for="id_temperature_rise_K" class="form-label">Temperature Rise
                                        (K)</label>
                                    {{ form.temperature_rise_K }}</div>
                                <div class="col-md-3">
                                    <label for="id_ambient_temperature_C" class="form-label">Ambient Temperature
                                        (°C)</label>
                                    {{ form.ambient_temperature_C }}</div>

                                <div class="col-md-3">
                                    <label for="id_service_factor" class="form-label">Service Factor</label>
                                    {{ form.service_factor }}</div>
                                <div class="col-md-3">
                                    <label for="id_voltage" class="form-label">Voltage (V)</label>
                                    {{ form.voltage }}</div>
                                <div class="col-md-3">
                                    <label for="id_current" class="form-label">Current (A)</label>
                                    {{ form.current }}</div>
                                <div class="col-md-3">
                                    <label for="id_power" class="form-label">Power (kW)</label>
                                    {{ form.power }}</div>

                                <div class="col-md-3">
                                    <label for="id_frequency" class="form-label">Freq. (Hz)</label>
                                    {{ form.frequency }}</div>
                                <div class="col-md-3">
                                    <label for="id_speed" class="form-label">Speed (rpm)</label>
                                    {{ form.speed }}</div>
                                <div class="col-md-3">
                                    <label for="id_p_f" class="form-label">P.F.</label>
                                    {{ form.p_f }}</div>
                                <div class="col-md-3">
                                    <label for="id_efficiency" class="form-label">Eff. (%)</label>
                                    {{ form.efficiency }}</div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="performed_tests">
                            <div class="row g-3 px-5">
                                <div class="italic card-title m-0 pt-2 pb-0 text-center">
                                    <div id="error-message" class="text-danger" style="display: none;">
                                        Please select at least one test
                                    </div>
                                </div>

                                <table class="table my-1">
                                    <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Sr. #</th>
                                        <th class="text-center" scope="col">Test Name</th>
                                        <th class="text-center" scope="col">Routine</th>
                                        <th class="text-center" scope="col">Type</th>
                                        <th class="text-center" scope="col">Special</th>
                                    </tr>
                                    </thead>
                                    <tbody id="main-modal-rep" >
                                    <div class="alert alert-danger d-none " id="test-required" role="alert"> At Least select one Test</div>
                                    {{ formset.management_form }}
                                    {% for form in formset %}
                                        <tr>
                                            <th class="text-center" scope="row">{{ forloop.counter }}</th>
                                            <td class="text-center w-50">{{ form.test_type }}</td>
                                            <td class="round">{{ form.routine }}
                                                <label for="id_form-{{ forloop.counter0 }}-routine"></label>
                                            </td>
                                            <td class="round text-center">{{ form.type }}
                                                <label for="id_form-{{ forloop.counter0 }}-type"></label>
                                            </td>
                                            <td class="round text-center">{{ form.special }}
                                                <label for="id_form-{{ forloop.counter0 }}-special"></label>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 2px solid #1559d3;">

                    <div class="d-grid gap-2 d-md-flex justify-content-center mt-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="return validateForm('main-modal-rep')">Save</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>