{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="d-flex justify-content-between">
        <div class="datatable-search datatable-top">
            <a href="{% url 'home' %}" type="button" class="btn btn-primary">
                <i class="bi bi-arrow-left-circle-fill"></i> Back to Home</a>
        </div>
        <div class="mb-3 clearfix">
            <a href="{% url 'chart' inductionMotorReport.id %}" class="text-white btn btn-primary"
               target="_blank" type="button"><i class="bi bi-file-earmark-pdf-fill"></i> Generate Graph</a>
            <a href="{% url 'pdf' inductionMotorReport.id %}" class="text-white btn btn-success"
               target="_blank" type="button"><i class="bi bi-file-earmark-pdf-fill"></i> Generate Report</a>
        </div>
    </div>

    <section class="section">
        <div class="row" style="text-align: right">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">Please fill and save the forms below.</h5>
                            <div class="text-center datatable-top mt-2">
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#edit-modal" id="update-modal">Update This Record
                                </button>
                            </div>
                        </div>

                        <!-- Default Tabs -->
                        <ul class="nav nav-pills justify-content-center pt-5" id="testFormTabs" role="tablist">
                            {% if electric_resistance_test %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="electric-tab" data-bs-toggle="tab"
                                            data-bs-target="#electric" type="button" role="tab" aria-controls="electric"
                                            aria-selected="true">Electric Resistance Test
                                    </button>
                                </li>
                            {% endif %}
                            {% if temperature_rise_test %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="temperature-tab" data-bs-toggle="tab"
                                            data-bs-target="#temperature" type="button" role="tab"
                                            aria-controls="temperature" aria-selected="false" tabindex="-1">Temperature
                                        Rise
                                        Test
                                    </button>
                                </li>
                            {% endif %}
                            {% if performance_determination_test %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="performance-tab" data-bs-toggle="tab"
                                            data-bs-target="#performance" type="button" role="tab"
                                            aria-controls="performance" aria-selected="false" tabindex="-1">Performance
                                        Determination Test
                                    </button>
                                </li>
                            {% endif %}
                            {% if no_load_test %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="noload-tab" data-bs-toggle="tab"
                                            data-bs-target="#noload"
                                            type="button" role="tab" aria-controls="noload" aria-selected="false"
                                            tabindex="-1">No Load Test
                                    </button>
                                </li>
                            {% endif %}
                            {% if withstand_voltage_ac_test %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="withstand-tab" data-bs-toggle="tab"
                                            data-bs-target="#withstand" type="button" role="tab"
                                            aria-controls="withstand"
                                            aria-selected="false" tabindex="-1">Withstand Voltage AC Test
                                    </button>
                                </li>
                            {% endif %}
                            {% if insulation_resistance_test %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="insulation-tab" data-bs-toggle="tab"
                                            data-bs-target="#insulation" type="button" role="tab"
                                            aria-controls="insulation"
                                            aria-selected="false" tabindex="-1">Insulation Resistance Test
                                    </button>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="tab-content pt-3 pe-5" id="myTabContent">
                            {% if electric_resistance_test %}
                                <div class="tab-pane fade" id="electric" role="tabpanel" aria-labelledby="electric-tab">
                                    <form id="electric-form" class="row g-3"
                                          action="{% url 'electric-form' inductionMotorReport.id %}" method="post">
                                        {% csrf_token %}

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col">
                                                    <label for="id_electric_resistance_test-resistance_ohm_1"
                                                    class="col-form-label">Resistance (mOhms) 1:</label>
                                                </div>
                                                <div class="col">{{ electric_resistance_test.resistance_ohm_1 }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col">
                                                    <label for="id_electric_resistance_test-resistance_ohm_2"
                                                    class="col-form-label">Resistance (mOhms) 2:</label>
                                                </div>
                                                <div class="col">{{ electric_resistance_test.resistance_ohm_2 }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col">
                                                    <label for="id_electric_resistance_test-resistance_ohm_3"
                                                    class="col-form-label">Resistance (mOhms) 3:</label>
                                                </div>
                                                <div class="col">{{ electric_resistance_test.resistance_ohm_3 }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col">
                                                    <label for="id_electric_resistance_test-ambient_temperature_C"
                                                    class="col-form-label">Ambient Temperature (°C):</label>
                                                </div>
                                                <div class="col">{{ electric_resistance_test.ambient_temperature_C }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col">
                                                    <label for="id_electric_resistance_test-unbalance_percentage"
                                                    class="col-form-label">Unbalance (%):</label>
                                                </div>
                                                <div class="col">{{ electric_resistance_test.unbalance_percentage }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center py-5">
                                            <button type="submit" class="btn btn-primary pb-2">Save</button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if temperature_rise_test %}
                                <div class="tab-pane fade" id="temperature" role="tabpanel"
                                     aria-labelledby="temperature-tab">
                                    <form id="temperature-form" class="row g-3"
                                          action="{% url 'temperature-form' inductionMotorReport.id %}" method="post">
                                        {% csrf_token %}

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_temperature_rise_test-voltage"
                                                    class="col-form-label">Voltage (V):</label>
                                                </div>
                                                <div class="col">{{ temperature_rise_test.voltage }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_temperature_rise_test-frequency"
                                                    class="col-form-label">Frequency (Hz):</label>
                                                </div>
                                                <div class="col">{{ temperature_rise_test.frequency }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_temperature_rise_test-de_bearing"
                                                    class="col-form-label">DE Bearing (K):</label>
                                                </div>
                                                <div class="col">{{ temperature_rise_test.de_bearing }}</div>
                                            </div>
                                        </div>

                                         <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_temperature_rise_test-winding"
                                                    class="col-form-label">Winding (Resistance Method) (K):</label>
                                                </div>
                                                <div class="col">{{ temperature_rise_test.winding }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_temperature_rise_test-nde_bearing"
                                                    class="col-form-label">NDE Bearing (K):</label>
                                                </div>
                                                <div class="col">{{ temperature_rise_test.nde_bearing }}</div>
                                            </div>
                                        </div>

                                        <div class="text-center py-5">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if performance_determination_test %}
                                <div class="tab-pane fade" id="performance" role="tabpanel"
                                     aria-labelledby="performance-tab">
                                    <form id="performance-form" class="row g-3"
                                          action="{% url 'performance-form' inductionMotorReport.id %}" method="post"
                                          enctype="multipart/form-data" novalidate>
                                        {% csrf_token %}

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_performance_determination_test-voltage"
                                                    class="col-form-label">Voltage (V):</label>
                                                </div>
                                                <div class="col">{{ performance_determination_test.voltage }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_performance_determination_test-frequency"
                                                    class="col-form-label">Frequency (Hz):</label>
                                                </div>
                                                <div class="col">{{ performance_determination_test.frequency }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_performance_determination_test-nominal_t"
                                                    class="col-form-label">Nominal T. (N.m):</label>
                                                </div>
                                                <div class="col">{{ performance_determination_test.nominal_t }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 pt-md-5 ps-md-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col-md-5">
                                                    <label for="id_performance_determination_test-file_1"
                                                    class="col-form-label">Performance Load 25%:</label>
                                                </div>
                                                <div class="col-md-5 {% if not files.file_25 %}empty{% endif %}">
                                                    {{ performance_determination_test.file_1 }}
                                                    {% if files.file_25 %}
                                                        <span class="pt-3">
                                                            <span class="fst-italic">{{ files.file_25_name }} - </span>
                                                            <a href="{{ files.file_25.url }}"
                                                               class="text-decoration-none">
                                                                 Download File <i class="bi bi-download"></i></a>
                                                        </span>
                                                    {% else %}
                                                        <span class="fst-italic">Please upload the excel file.</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col-md-5"><label for="id_performance_determination_test-file_2"
                                                    class="col-form-label">Performance Load 50%:</label>
                                                </div>
                                                <div class="col-md-5 {% if not files.file_50 %}empty{% endif %}">
                                                    {{ performance_determination_test.file_2 }}
                                                    {% if files.file_50 %}
                                                        <span class="pt-3">
                                                        <span class="fst-italic">{{ files.file_50_name }} - </span>
                                                            <a href="{{ files.file_50.url }}"
                                                               class="text-decoration-none">
                                                                 Download File <i class="bi bi-download"></i></a>
                                                        </span>
                                                    {% else %}
                                                        <span class="fst-italic">Please upload the excel file.</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 pt-md-5 ps-md-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col-md-5"><label for="id_performance_determination_test-file_3"
                                                    class="col-form-label">Performance Load 75%:</label>
                                                </div>
                                                <div class="col-md-5 {% if not files.file_75 %}empty{% endif %}">
                                                    {{ performance_determination_test.file_3 }}
                                                    {% if files.file_75 %}
                                                        <span class="pt-3">
                                                            <span class="fst-italic">{{ files.file_75_name }} - </span>
                                                            <a href="{{ files.file_75.url }}"
                                                               class="text-decoration-none">
                                                                 Download File <i class="bi bi-download"></i>
                                                            </a>
                                                        </span>
                                                    {% else %}
                                                        <span class="fst-italic">Please upload the excel file.</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col-md-5"><label for="id_performance_determination_test-file_4"
                                                    class="col-form-label">Performance Load 100%:</label>
                                                </div>
                                                <div class="col-md-5 {% if not files.file_100 %}empty{% endif %}">
                                                    {{ performance_determination_test.file_4 }}
                                                    {% if files.file_100 %}
                                                        <span class="pt-3">
                                                           <span class="fst-italic">{{ files.file_100_name }} - </span>
                                                           <a href="{{ files.file_100.url }}"
                                                               class="text-decoration-none">
                                                                 Download File <i class="bi bi-download"></i>
                                                            </a>
                                                        </span>
                                                    {% else %}
                                                        <span class="fst-italic">Please upload the excel file.</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center py-5">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if no_load_test %}
                                <div class="tab-pane fade" id="noload" role="tabpanel" aria-labelledby="noload-tab">
                                    <form id="noload-form" class="row g-3"
                                          action="{% url 'noload-form' inductionMotorReport.id %}" method="post">
                                        {% csrf_token %}

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_no_load_test-voltage"
                                                    class="col-form-label">Voltage (V):</label>
                                                </div>
                                                <div class="col">{{ no_load_test.voltage }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_no_load_test-current"
                                                    class="col-form-label">Current (A):</label>
                                                </div>
                                                <div class="col">{{ no_load_test.current }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_no_load_test-power"
                                                    class="col-form-label">Power (W):</label>
                                                </div>
                                                <div class="col">{{ no_load_test.power }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_no_load_test-frequency"
                                                    class="col-form-label">Frequency (Hz):</label>
                                                </div>
                                                <div class="col">{{ no_load_test.frequency }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_no_load_test-speed"
                                                    class="col-form-label">Speed (rpm):</label>
                                                </div>
                                                <div class="col">{{ no_load_test.speed }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_no_load_test-direction_of_rotation"
                                                    class="col-form-label">Direction of Rotation:</label>
                                                </div>
                                                <div class="col">{{ no_load_test.direction_of_rotation }}</div>
                                            </div>
                                        </div>

                                        <div class="text-center py-5">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if withstand_voltage_ac_test %}
                                <div class="tab-pane fade" id="withstand" role="tabpanel"
                                     aria-labelledby="withstand-tab">
                                    <form id="withstand-form" class="row g-3"
                                          action="{% url 'withstand-form' inductionMotorReport.id %}" method="post">
                                        {% csrf_token %}

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_withstand_voltage_ac_test-description"
                                                    class="col-form-label">Description:</label>
                                                </div>
                                                <div class="col">{{ withstand_voltage_ac_test.description }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_withstand_voltage_ac_test-voltage_kv"
                                                    class="col-form-label">Voltage (kV):</label>
                                                </div>
                                                <div class="col">{{ withstand_voltage_ac_test.voltage_kv }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="withstand_voltage_ac_test-time_in_seconds"
                                                    class="col-form-label">Time (s):</label>
                                                </div>
                                                <div class="col">{{ withstand_voltage_ac_test.time_in_seconds }}</div>
                                            </div>
                                        </div>

                                        <div class="text-center py-5">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if insulation_resistance_test %}
                                <div class="tab-pane fade" id="insulation" role="tabpanel"
                                     aria-labelledby="insulation-tab">
                                    <form id="insulation-form" class="row g-3"
                                          action="{% url 'insulation-form' inductionMotorReport.id %}" method="post">
                                        {% csrf_token %}

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_insulation_resistance_test-description"
                                                    class="col-form-label">Description:</label>
                                                </div>
                                                <div class="col">{{ insulation_resistance_test.description }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col"><label for="id_insulation_resistance_test-voltage"
                                                    class="col-form-label">Voltage (V):</label>
                                                </div>
                                                <div class="col">{{ insulation_resistance_test.voltage }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col">
                                                    <label for="id_insulation_resistance_test-time_in_seconds"
                                                    class="col-form-label">Time (s):</label>
                                                </div>
                                                <div class="col">{{ insulation_resistance_test.time_in_seconds }}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col">
                                                    <label for="id_insulation_resistance_test-insulation_resistance"
                                                    class="col-form-label">Insulation Res. (Mohms):</label>
                                                </div>
                                                <div class="col">{{ insulation_resistance_test.insulation_resistance }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col">
                                                    <label for="id_insulation_resistance_test-ambient_temperature_C"
                                                    class="col-form-label">Ambient Temperature (°C):</label>
                                                </div>
                                                <div class="col">{{ insulation_resistance_test.ambient_temperature_C }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pt-5">
                                            <div class="row" style="text-align: right">
                                                <div class="col">
                                                    <label for="id_insulation_resistance_test-humidity_percentage"
                                                    class="col-form-label">Humidity (%):</label>
                                                </div>
                                                <div class="col">{{ insulation_resistance_test.humidity_percentage }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center py-5">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div><!-- End Default Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script>
    function validateForm() {
        // Get the <tbody> element by its id
        var tbody = document.getElementById('edit-formset-body');

        // Get all checkboxes inside the <tbody>
        var checkboxes = tbody.querySelectorAll('input[type="checkbox"]');

        // Check if any checkbox is checked
        var isChecked = false;
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                isChecked = true;
            }
        });

        // If no checkbox is checked, alert the user and do not proceed
        if (!isChecked) {
            alert("Please select at least one checkbox.");

            // Change button color to red
          // Change button color to red
 // Add border around the button
    var button = document.getElementById('edit_performed_tests');
    button.style.border = "2px solid red";

            return false;
        }

        // If validation passes, close the modal programmatically
        $('#edit-modal').modal('hide');
        return true;
    }
</script>
   <script>
$(document).ready(function () {
    $('form').submit(function (e) {
        e.preventDefault();
        var formData = $(this).serialize();
        var currentFormId = '#' + $(this).attr('id'); // Get the ID of the current form
        var currentTab = $(this).closest('.tab-pane'); // Find the current tab containing the form
        var currentTabButton = $('a[aria-controls="' + currentTab.attr('id') + '"]'); // Find the button corresponding to the current tab

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: formData,
            success: function (data) {
                console.log(data);
                // Update form fields with saved data
                $(currentFormId + ' input[type="text"]').each(function() {
                    var fieldName = $(this).attr('name');
                    $(this).val(data[fieldName]);
                });

                // Optionally, display a success message or perform other actions
                alert('Form data saved successfully!');

                // Switch to the next tab
                var nextTab = currentTab.next('.tab-pane');
                var nextTabButton = $('a[aria-controls="' + nextTab.attr('id') + '"]');
                if (nextTab.length > 0) { // Check if there is a next tab
                    currentTab.removeClass('active show'); // Hide the current tab
                    nextTab.addClass('active show'); // Show the next tab

                    // Activate the button corresponding to the next tab
                    currentTabButton.removeClass('active');
                    nextTabButton.addClass('active');
                } else {
                    // Optionally, do something if there is no next tab
                    console.log('No next tab found.');
                }
            },
            error: function (xhr, errmsg, err) {
                // Handle errors if any
                console.log(errmsg);
            }
        });
    });
});

    </script>



    <script>
        $(document).ready(function () {
            $('#electric-form').submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        // Update form fields with saved data
                        $('#id_electric_resistance_test-resistance_ohm_1').val(data.resistance_ohm_1);
                        $('#id_electric_resistance_test-resistance_ohm_2').val(data.resistance_ohm_2);
                        $('#id_electric_resistance_test-resistance_ohm_3').val(data.resistance_ohm_3);
                        $('#id_electric_resistance_test-ambient_temperature_C').val(data.ambient_temperature_C);
                        $('#id_electric_resistance_test-unbalance_percentage').val(data.unbalance_percentage);

                        // Optionally, display a success message or perform other actions
                        alert('Form data saved successfully!');
                    },
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#temperature-form').submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        // Update form fields with saved data
                        $('#id_temperature_rise_test-voltage').val(data.voltage);
                        $('#id_temperature_rise_test-winding').val(data.winding);
                        $('#id_temperature_rise_test-frequency').val(data.frequency);
                        $('#id_temperature_rise_test-de_bearing').val(data.de_bearing);
                        $('#id_temperature_rise_test-nde_bearing').val(data.nde_bearing);

                        // Optionally, display a success message or perform other actions
                        alert('Form data saved successfully!');
                    },
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#noload-form').submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        // Update form fields with saved data
                        $('#id_no_load_test-voltage').val(data.voltage);
                        $('#id_no_load_test-current').val(data.current);
                        $('#id_no_load_test-power').val(data.power);
                        $('#id_no_load_test-frequency').val(data.frequency);
                        $('#id_no_load_test-speed').val(data.speed);
                        $('#id_no_load_test-direction_of_rotation').val(data.direction_of_rotation);
                        // Optionally, display a success message or perform other actions
                        alert('Form data saved successfully!');
                    },
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#withstand-form').submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        // Update form fields with saved data
                        $('#id_withstand_voltage_ac_test-description').val(data.description);
                        $('#id_withstand_voltage_ac_test-voltage_kv').val(data.voltage_kv);
                        $('#id_withstand_voltage_ac_test-time_in_seconds').val(data.time_in_seconds);
                        // Optionally, display a success message or perform other actions
                        alert('Form data saved successfully!');
                    },
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#insulation-form').submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        // Update form fields with saved data
                        $('#id_insulation_resistance_test-description').val(data.description);
                        $('#id_insulation_resistance_test-voltage').val(data.voltage);
                        $('#id_insulation_resistance_test-insulation_resistance').val(data.insulation_resistance);
                        $('#id_insulation_resistance_test-time_in_seconds').val(data.time_in_seconds);
                        $('#id_insulation_resistance_test-ambient_temperature_C').val(data.ambient_temperature_C);
                        $('#id_insulation_resistance_test-humidity_percentage').val(data.humidity_percentage);
                        // Optionally, display a success message or perform other actions
                        alert('Form data saved successfully!');
                    },
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#performance-form').submit(function (e) {
                e.preventDefault();
                $('input[type="file"]').on('change', function () {
                    $(this).parent().removeClass('empty')
                })
                if (!$(document).find('.empty').length > 0) {
                     var formData = new FormData(this);
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            console.log(data);
                            // Update form fields with saved data
                            $('#id_performance_determination_test-voltage').val(data.voltage);
                            $('#id_performance_determination_test-frequency').val(data.frequency);
                            $('#id_performance_determination_test-nominal_t').val(data.nominal_t);
                            alert('Form data saved successfully!');
                        },
                    });
                }

                else {
                    alert("Please upload the remaining Performance Load File")
                }
            });
        });
    </script>
{% endblock %}
